.nav-tabs {
    border-bottom: 1px solid #2b3e50;
}

.nav-tabs .nav-link.active {
    background-color: #5B6977;
    border-color: #2b3e50 #2b3e50 #5B6977;
}

.list-group-item{
    border: 1px solid #5a6e78;
}

